@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f7fa;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-links a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

#signup-btn {
    background-color: #3A75AC;
    color: #fff;
}

#main-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#signup-container {
    width: 700px;
    /* Adjust width based on your design */
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    /* Add some shadow for depth */
}

#signup-container h1 {
    margin-bottom: 20px;
}

#signup-container form {
    display: flex;
    flex-direction: column;
}

#signup-container input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
}

.primary-btn {
    background-color: #3A75AC;
    color: white;
}

.signin-link {
    text-align: center;
    margin-top: 20px;
}

.signin-link a {
    // color: #4c;
}

.kind1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    /* Set the font size to 1.2 times the default size */
}

.kind2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    /* Set the font size to 1.2 times the default size */
}

#ag {
    padding-top: 15px;

}