@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inter');


.compare-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  // Apply a linear gradient for the background
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7)); // Adjust the angle and colors as needed
  min-height: 100vh; // Ensure it covers the full viewport height
  height: auto; // Allow it to expand beyond the viewport if needed
  padding-bottom: 100px; // Space for the pagination component
  padding-top: 50px;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .small-img {
    width: 200px; // You can adjust this value to change the size
    height: auto;
    border-radius: 5px; // Optional: for rounded corners
  }

  .comparison-grid {
    display: flex;
    justify-content: space-between;

    .computer-specs {
      width: calc(50% - 10px); // Adjust the width and the gap between the two specs
      border: 1px solid #060606;
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: #fff; // Set the background color to white for contrast

      .spec {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        border-bottom: 1px solid #eee;

        strong {
          font-weight: bold;
        }
      }
    }
  }
}

// Responsive design for smaller screens
@media (max-width: 768px) {
  .comparison-grid {
    flex-direction: column;

    .computer-specs {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
