@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{background:#eee}
.Sug {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-weight: bold; /* Make the text bold */
    font-size: 2.2em; /* Set the font size to 1.2 times the default size */
    margin-left: 120px;
  }
.ratings i{font-size: 16px;
           color: red}
.strike-text{color: red;
             text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block}
.spec-1{color: #938787;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;

    }
 h5{font-weight: 400;
    font-family: 'Montserrat', sans-serif;


}
h4{
    font-family: 'Montserrat', sans-serif;

}
 .para{font-size: 16px}
 .Scontainer{
    margin-top: 100px;
    margin-left: 50px;
    position: center;
    
 }